# Compiled Object files
*.o

# Compiled Object folder
obj

# Kernel file / folder
kernel

# Core file
kernel.core.umps

# Symbol Table
kernel.stab.umps

# Files automatically created during boot
*.umps
